.basis-400 {
  flex-basis: 400px;
}
.basis-800 {
  flex-basis: 800px;
}
.basis-1200 {
  flex-basis: 1200px;
}
.basis-1600 {
  flex-basis: 1600px;
}
.basis-2000 {
  flex-basis: 2000px;
}
.basis-2400 {
  flex-basis: 2400px;
}
.basis-2800 {
  flex-basis: 2800px;
}
.basis-3200 {
  flex-basis: 3200px;
}
